*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.main {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)) , url(beau_desert.jpg);
    background-size: cover  ;
    background-position: center;
    position: relative;
}

    nav{
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        padding: 15px 6%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 5px 25px;
}

nav ul li a {
    text-decoration: none;
    color: #000000;
}


.title {
    position: absolute;
    top: 15%;
    left: 35%;
    transform: translate(-50% , -50%);
    font-size: 160px;
    -webkit-text-stroke: 1px #000000;
    color: transparent;
    background-image: linear-gradient(#000000 , #000000);
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    background-position: -750px 0;
    animation: backcolor 5s linear infinite alternate;
}

.paragraphe {
    position: absolute;
    top: 33%;
    left: 35%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 18px;
    color: #000000;
    white-space: pre-line;
    font-weight: bold;
}


@keyframes backcolor {
    100%{
        background-position: 0 0;
    }
}